<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
	<title> <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title></title>
</head>
<body>
	
	<h1>Sample App</h1>
	<p>
	  This is the home page for the
	  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
	  sample application.
	</p>
	<div>
		<img style="width: 300px; height: 295px; position: absolute; left: 400px; " src="https://demo.phpgang.com/crop-images/demo_files/pool.jpg">
	</div>
</body>
</html>